.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(1) > .profile-pic {
  border-radius: 0%;
}
.add-color {
  display: flex;
}

.product-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 45px; */
}

.product-container {
  width: 300px;
}
.product-poster {
  width: 300px;
  height: 370px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
}

.product-rating {
  font-size: 20px;
  font-weight: bold;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-detail-container {
  max-width: 100%;
}

.counter-style {
  display: flex;
  justify-content: space-between;
}

/* tictacttoe */
.full-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}

.game-box {
  width: 12rem;
  height: 12rem;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 8rem;
  cursor: pointer;
}
