.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(1) > .profile-pic {
  border-radius: 0%;
}
.add-color {
  display: flex;
}

.product-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 45px; */
}

.product-container {
  width: 300px;
}
.product-poster {
  width: 300px;
  height: 370px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
}

.product-rating {
  font-size: 20px;
  font-weight: bold;
}
